<div class="col-md-12">
  <h2>Hi! {{currentUser.name}}!</h2>
  <p>You're logged!!! <a [routerLink]="['/login']">+Logout</a></p>
  <h3>All registered restaurants ranking:</h3>
  <table class="col-lg-12" border="1">
    <tr align="center">
      <td>id</td>
      <td>name</td>
      <td>status</td>
      <td>minutesOffline</td>
    </tr>
    <tr  *ngFor="let user of users" align="center">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.status}}</td>
      <td>{{user.minutesOffline}}</td>
    </tr>
  </table>
</div>
