<h2>Hi! {{currentUser.name}}!</h2>
<p>You're logged!!! <a [routerLink]="['/login']">+Logout</a></p>
<h3>All registered restaurants ranking:</h3>
<div style="margin-top: 125px; height: 100%;overflow-y: scroll;" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (wheel)="source.load()">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>status</th>
        <th>minutesOffline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of source.data">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.status}}</td>
        <td>{{item.minutesOffline}}</td>
      </tr>
    </tbody>
  </table>
</div>
